li a {
    color: rgb(9, 9, 9);
}

body {
    background: white url("images/background.png") no-repeat;
}

table {
    background-color: rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
    width: 50%;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
} 

.button{
    background-color: rgba(255, 255, 255, 0.5);
    border: 0.01px solid black;
    width: 70%;
    color: #333;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    padding: 7px 14px;
}

td, th {
    padding: 5px

}

a{
    font-family: "Times New Roman", Times, serif;
}

legend{
    text-align: center;
    padding: 35px
}